<br />
<br />
<br />
<div class="row">
    <div class="col-md-2 col-sm-12">

    </div>
    <div class="col-md-2 col-sm-12">
        <a asp-action="Create" style="text-decoration:none">
            <div class="card text-center shadow-lg" style="background-color: greenyellow; width:90%; height:200px">
                <br />
                <br />
                <br />
                <h3 style="color: white">
                    <strong>
                        Crear Categoria
                    </strong>
                </h3>
            </div>
        </a>
    </div>
    <div class="col-md-1 col-sm-12">

    </div>
    <div class="col-md-2 col-sm-12">
        <a asp-action="CategoryList" style="text-decoration:none">
            <div class="card text-center shadow-lg" style="background-color: darkseagreen; width:90%; height:200px">
                <br />
                <br />
                <br />

                <h3 style="color: white">
                    <strong>
                        Ver Categorias
                    </strong>
                </h3>
            </div>
        </a>
    </div>
    <div class="col-md-1 col-sm-12">

    </div>
    <div class="col-md-2 col-sm-12">
        <a asp-action="Top5" style="text-decoration:none">
            <div class="card text-center shadow-lg" style="background-color: forestgreen; width:90%; height:200px">
                <br />
                <br />
                <br />

                <h3 style="color: white">
                    <strong>
                        Ver top 5 de categorias
                    </strong>
                </h3>
            </div>
        </a>
    </div>
    <div class="col-md-2 col-sm-12">

    </div>
</div>